<%- include("partials/header.ejs") %>
<main id="results-page">
	<h1>Your journey details</h1>
	<img
		id="line-img"
		src="/images/png/horizontal-rule.png"
		alt="horizontal-line"
		width="800px"
		height="2px" />
	<section id="results-top">
		<div class="station" id="departure-station">
			<h2><%= departure %></h2>
		</div>
		<div>
			<img src="/images/png/train.gif" alt="train" width="75px" />
		</div>
		<div class="station" id="arrival-station">
			<h2><%= destination %></h2>
		</div>
	</section>
	<section id="results-main">
		<div id="summary">
			<h2>Result summary:</h2>
		</div>
		<table id="results-table">
			<tr>
				<td id="top-cell">
					<h3>Departure Date:&nbsp;&nbsp;&nbsp;&nbsp; <em><%= date %></em></h3>
				</td>
			</tr>
			<tr>
				<td>
					<h3>
						Departure Time:&nbsp;&nbsp;&nbsp;&nbsp;
						<em><%= departureTime %>hrs</em>
					</h3>
				</td>
			</tr>
			<tr>
				<td>
					<h3>
						Arrival Time:&nbsp;&nbsp;&nbsp;&nbsp; <em><%= arrivalTime %>hrs</em>
					</h3>
				</td>
			</tr>
			<tr>
				<td>
					<h3>
						Journey duration:&nbsp;&nbsp;&nbsp;&nbsp;
						<em><%= duration %>minutes</em>
					</h3>
				</td>
			</tr>
			<tr>
				<td>
					<h3>
						Journey Details: <% for (let a = 0; a < allJourneys[0].legs.length;
						a++) { %>
						<ul>
							<li>
								Take the <%= allJourneys[0].legs[a].instruction.summary %> for
								<%= allJourneys[0].legs[a].duration %> minutes.<br /><br />
								<ul>
									<li>Platform: <%= allJourneys[0].legs[a].platformName %></li>
									<br />
									<li>
										Departs At:
										<em
											><%= formatTime(allJourneys[0].legs[a].departureTime)
											%>hrs</em
										>
										<ul>
											<% for (let b = 0; b < allJourneys.length; b++) { %>
											<li>
												Also at: <% if (allJourneys[b].legs &&
												allJourneys[b].legs[a] &&
												allJourneys[b].legs[a].departureTime) { %>
												<em
													><%= formatTime(allJourneys[b].legs[a].departureTime)
													%>hrs</em
												>
												<% } else { %>
												<em>Not available</em>
												<% } %>
											</li>
											<% } %>
										</ul>
									</li>
									<br />
									<li>
										Stop Points:
										<ul>
											<% for (let c = 0; c <
											allJourneys[0].legs[a].path.stopPoints.length; c++) { %>
											<li>
												<em
													><%= allJourneys[0].legs[a].path.stopPoints[c].name
													%></em
												>
											</li>
											<% } %>
										</ul>
									</li>
									<br />
									<li>
										Get off at <%=
										allJourneys[0].legs[a].arrivalPoint.commonName %>
									</li>
									<br />
									<li>
										Change Duration:
										<em
											><%= allJourneys[0].legs[a].interChangeDuration %>
											minutes</em
										>
									</li>
									<br />
									<li>
										Disruptions (This section only):
										<em><%= allJourneys[0].legs[a].disruptions %></em>
									</li>
									<br />
									<li>
										Planned Works (This section only):
										<em><%= allJourneys[0].legs[a].plannedWorks %></em>
									</li>
									<br />
								</ul>
							</li>
						</ul>
						<% } %>
					</h3>
				</td>
			</tr>
			<tr>
				<td id="bottom-cell">
					<h3>Amount:&nbsp;&nbsp;&nbsp;&nbsp; <em>£<%= totalFare%></em></h3>
				</td>
			</tr>
		</table>
	</section>
	<div id="bottom-buttons">
		<button type="button" id="back-button"><a href="/">Go Back</a></button>
		<button type="button" class="btn" onclick="window.print()">
			<i class="fa fa-print"></i>Print
		</button>
		<button type="button" class="btn" id="convertBtn">
			<i class="fa fa-download"></i>Download PDF
		</button>
	</div>
</main>
//
<script>
	// 	// Add click event listener to the button
	// 	document.getElementById("convertBtn").addEventListener("click", async () => {
	// 		try {
	// 			// Send an HTTP GET request to the server route to trigger PDF conversion and download
	// 			const response = await fetch("/convertToPDF");
	// 			if (response.ok) {
	// 				//Convert the response to a blob and create a temporary URL to download the PDF
	// 				const pdfBlob = await response.blob();
	// 				const pdfURL = URL.createObjectURL(pdfBlob);

	// 				// Create a temporary anchor element to trigger the download
	// 				const downloadLink = document.createElement("a");
	// 				downloadLink.href = pdfURL;
	// 				downloadLink.download = "journey-itinerary.pdf";
	// 				downloadLink.click();

	// 				// Clean up the temporary URL
	// 				URL.revokeObjectURL(pdfURL);
	// 			} else {
	// 				console.error("Error:", response.status, response.statusText);
	// 			}
	// 		} catch (error) {
	// 			console.error("Error:", error);
	// 		}
	// 	});
	//
</script>
<%- include("partials/footer.ejs") %>
