<%- include("partials/header.ejs") %>
<main>
<h1>Your journey details</h1>
<h3>Departure Station: <em><%= departure %></em></h3>
<h3>Arrival Station: <em><%= destination %></em></h3>
<h3>Departure Date: <em><%= date %></em></h3>
<h3>Departure Time: <em><%= time %>hrs</em></h3>
<h3>No. of passengers: <em><%= noOfPassengers %></em></h3>
<h3>Route: <em><%= route %></em></h3>
<h3>Journey duration: <em><%= duration %>minutes</em></h3>
<h3>Departure Point: <em><%= departurePoint%></em></h3>
<h3>Arrival Point: <em><%= arrivalPoint %></em></h3>
</main>
<%- include("partials/footer.ejs") %>